[flake8]
exclude =
    .git,
    __pycache__,
    .pytest_cache,
    venv,
    docs,
    arducam # arducam library which has just been copied

extend-ignore = E203

max-complexity = 10
max-line-length = 90
indent-size = 4
docstring_style=sphinx